
@{
    ViewBag.Title = "Добавление учредителя";
}

<h3>Добавить учредителя</h3>

@using (Html.BeginForm("AddFounder", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <p>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        </p>
        <p>
            Ф.И.О. учредителя: <br />
            <input type="text" name="Name" required maxlength="50" />
            <input type="hidden" name="CompanyId" value="@ViewBag.currentCompanyId" />
        </p>
        <br />
        <p>
            <input type="submit" value="Добавить учредителя" class="btn btn-default" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("На главную", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
