@model Organizations.Models.Company

@{
    ViewBag.Title = "Информация";
}

<h3>Информация</h3>

<div>
    <h4>Компания</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INN)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Добавить учредителя", "AddFounder", new { id = Model.Id }) | 
    @Html.ActionLink("На главную", "Index")
</p>
